#navbar-right{
    margin-right: 20px;
}
#navbar-dropdown{
    margin-right: 20px;
}
body{
    background: url("pictures/wallpaper/wallpaper1.jpg") center center no-repeat fixed;
    background-size: cover;
}
.carousel-inner{
    border-radius: 40px;
}
.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: contain;
}
