#navbar-right{
    margin-right: 20px;
}
#navbar-dropdown{
    margin-right: 20px;
}
body{
    background: url("pictures/wallpaper/wallpaper1.jpg") center center no-repeat fixed;
    background-size: cover;
}
h1{
    padding-bottom: 5vh;
    /* border-bottom: 1px solid black; */
}
.card{
    width: 80vh;
    margin: auto;
    margin-bottom: 5vh;
    padding: 1vh;
    padding-right: 2vh;
    padding-left: 2vh;
}
p{
    border-bottom: 1px dotted black;
}
#return{
    padding-left: 10vh;
    padding-top: 3vh;
    text-decoration: none;
    font-size: 19px;
}